apiVersion: v1
kind: ConfigMap
metadata:
  name: kubecat-config
data:
  kubecat-config.yaml: |
    reporters:
      - name: tile38
        module: "Tile38"
        interval: 60 # time in seconds
        options:
          url: http://tile38-read:9851
          timeout: 30 # in seconds
          min: 20

---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: kubecat
spec:
  template:
    metadata:
      labels:
        app: kubecat
    spec:
      containers:
        - image: "stevelacy/kubecat:latest"
          name: kubecat-container
          volumeMounts:
            - name: kubecat-config
              mountPath: /app/config.yaml
              subPath: config.yaml
      volumes:
      - name: kubecat-config
        configMap:
          name: kubecat-config
          items:
            - key: kubecat-config.yaml
              path: config.yaml
