apiVersion: v1
kind: ConfigMap
metadata:
  name: kubecat-config
  namespace: monitoring
  labels:
    app.kubernetes.io/name: kubecat
data:
  kubecat-config.yaml: |
    reporters:
      - name: tile38
        module: "Tile38"
        interval: 60 # time in seconds
        options:
          url: http://tile38-read:9851
          timeout: 30 # in seconds
          min: 20
      - name: example-external
        module: "http"
        interval: 60 # time in seconds
        options:
          url: https://example-external.ml.oi/health
          timeout: 10 # in seconds
      - name: example-internal
        module: "http"
        interval: 60 # time in seconds
        options:
          url: http://example-internal.staging/actuator/health
          timeout: 10 # in seconds

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubecat
  namespace: monitoring
  labels:
    app.kubernetes.io/name: kubecat
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 0
  selector:
    matchLabels:
      app.kubernetes.io/name: kubecat
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kubecat
    spec:
      containers:
        - image: "stevelacy/kubecat:latest"
          name: kubecat-container
          env:
            - name: SENTRY_DSN
              value: "<secret>"
          volumeMounts:
            - name: kubecat-config
              mountPath: /app/config.yaml
              subPath: config.yaml
      volumes:
      - name: kubecat-config
        configMap:
          name: kubecat-config
          items:
            - key: kubecat-config.yaml
              path: config.yaml

